.card {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 50px auto;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  transition: 0.3s;
}
.cardHeader {
  height: 60px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.qrImage {
  border-radius: 20px;
  width: 90%;
  height: auto;
  margin-top: 15px;
}
.cardBody {
  text-align: center;
}
.maintext {
  padding: 0px 15px 0px 15px;
  font-weight: bolder;
}
.subtext {
  color: gray;
  padding: 0px 20px 5px 20px;
  font-size: smaller;
}
